*.pdf
Algebra/*.pdf
Econ/*.pdf
Nets/*.pdf
MatPhys/*.pdf
Supercomputers/*.pdf
БД/*.pdf
ФОП/*.pdf
Complexity/_minted-complexity
Optimization/_minted-optimization
Functional Analysis/_minted-funcan
Econ
Nets
Supercomputers
БД
ФОП
*.log
History.org
build/
